<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slfinalproject.commurest.recommend.repository.RecommendMapper">


    <resultMap id="recommendMap" type="com.slfinalproject.commurest.recommend.domain.Recommend">
        <result property="recommendNo" column="recommend_no"/>
        <result property="boardNo" column="board_no"/>
        <result property="userName" column="user_name"/>
    </resultMap>

    <!-- 게시글 추천수 -->
    <insert id="Recommend">
        INSERT INTO recommend (board_no, user_name)
        VALUES (#{boardNo}, #{userName})
    </insert>

    <!-- 게시글 추천취소 -->
    <delete id="RecommendCancel">
        DELETE FROM recommend
        WHERE board_no = #{boardNo} AND user_name = #{userName}
    </delete>

    <!-- 게시글 추천 수 -->
    <select id="updateRecommend">
        UPDATE board SET
        recommend = (SELECT COUNT(*) FROM recommend WHERE board_no = #{boardNo})
        WHERE board_no = #{boardNo}
    </select>

    <!-- 중복방지 -->
    <select id="getRecommend" resultType="int">
        SELECT COUNT(recommend_no) FROM recommend WHERE board_no = #{boardNo} AND user_id = #{userId}
    </select>


</mapper>