<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slfinalproject.commurest.board.repository.BoardMapper">

    <resultMap id="boardMap" type="com.slfinalproject.commurest.board.domain.Board">
        <result property="boardNo" column="board_no"/>
        <result property="userId" column="user_id"/>
        <result property="hit" column="hit"/>
        <result property="regDate" column="reg_date"/>
        <result property="recommend" column="recommend"/>
        <result property="userName" column="user_name"/>
        <result property="fileName" column="file_name"/>
    </resultMap>

    <!--한건 등록-->
    <insert id="insert">
        INSERT INTO board
        (title, content, user_id)
        VALUES (#{title}, #{content}, #{userId})
    </insert>
    <!--전체조회-->
    <select id="selectAll" resultMap="boardMap">
        SELECT A.board_no, A.user_id, A.title, A.reg_date, A.hit, A.recommend, B.user_name
        FROM board A
        JOIN user_account B ON A.user_id = B.user_id
        ORDER BY board_no DESC
        LIMIT #{start}, 20
    </select>

<!--  나의 게시글 조회-->
    <select id="selectAllByUserId" resultMap="boardMap">
        SELECT * from board
        WHERE user_id = #{userId}
        ORDER BY board_no DESC
        LIMIT 0, 10
    </select>



    <!--한건 조회-->
    <select id="selectOne" resultMap="boardMap">
        select * from board where board_no = #{boardNo}
    </select>

    <!--전체 게시글 수-->
    <select id="getTotalCount" resultType="int">
        SELECT COUNT(*) FROM board
    </select>

<!--   나의 게시글 수 -->
    <select id="getTotalCountByUserId" resultType="int">
        SELECT COUNT(*) FROM board where user_id=#{userId}
    </select>

    <!--게시글 삭제-->
    <delete id="remove">
        delete from board where board_no = #{boardNo}
    </delete>

    <!--게시글 수정-->
    <update id="edit">
        update board set user_id = #{userId}, title = #{title}, content = #{content}
        where board_no = #{boardNo}
    </update>

    <!--조회수 갱신-->
    <update id="hitCount">
        update board set hit= hit+1 where board_no= #{boardNo}
    </update>

    <!--  첨부파일 추가  -->
    <insert id="addFile">

        INSERT INTO file_upload
        (file_name, bno)
        VALUES
        (#{fileName}, LAST_INSERT_ID())

    </insert>

    <select id="fileNames" resultType="string">
        SELECT file_name
        FROM file_upload
        WHERE bno = #{bno}
    </select>

    <!--수정, 삭제시 삭제할 수 있는 권한이 있는지-->
<!--    <select id="findMemberByBoardNo" resultType="com.slfinalproject.commurest.board.dto.ValidateMemberDTO">-->

<!--        SELECT account, auth-->
<!--        FROM member-->
<!--        WHERE user_account = (-->
<!--        SELECT account-->
<!--        FROM board-->
<!--        WHERE board_no = #{boardNo}-->
<!--        )-->

<!--    </select>-->

</mapper>