<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.slfinalproject.commurest.galleryBoard.repository.GalleryMapper">
    <select id="getTagValue" resultType="String">
        SELECT tag_value FROM tag WHERE tag_id=#{tagId}
    </select>

    <select id="getTagValueByUserId" resultType="String">
        SELECT tag_value FROM tag WHERE user_id=#{userId}
    </select>

    <insert id="setTagValue">
        INSERT INTO tag(tag_value) VALUES (#{tagValue})
    </insert>
    <insert id="setTagValueByBoardNo">
        INSERT INTO tag(tag_value) VALUES (#{tagValue},${BoardNo})
    </insert>
    <insert id="setTagValueByUserId">
        INSERT INTO tag(tag_value) VALUES (#{tagValue},${userId})
    </insert>
</mapper>