.mymain-container {
    height: 100%;
    width: 95%;
    margin: 0 auto;
}
.right-container {
    float: left;
    width: 80%;
    height: 80%;
}
.test .right-container .row{
    margin: 0;
}
.left-container {
    float: left;
    width: 20%;
}
.left-menu{
    padding: 0;
}
.left-menu li {
    border: 1px #BDBDBD solid;
    border-radius: 5%;
    margin: 5% 15%;
    text-align: left;
    padding: 4% 4% 5%;

    font-weight: bold;

}
.tableList p {
    font-size: .6rem;
}

.home-title {
    font-size: 2rem;
    font-weight: bold;
    border-top:hidden;
    width: 30%;
    color: #FA5858;
}
.tableList tr{
    width: 100%;
}
.tableList tr:first-child{
    height: 5rem;
    border-bottom: 2px #F73F52 solid;
}
.tableList td {
    padding-bottom: 1rem;
    text-align: left;
}
.row:nth-child(2) {
    margin-top: 2%;
}
.info-menu {
    float: left;
    border: 1px #BDBDBD solid;
    border-radius: 10px;
    padding: 3%;
    text-align: center;
    font-weight: bold;
    width: 20%;
    margin: auto 4%;

}
.menu-content {
    float: left;
    width: 80%;
    height: 80%;
}

.menu-title {
    margin-top: 5%;
    padding-bottom: 1%;
    font-size: 1.6rem;
    font-weight: bold;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    border-bottom: 2px #F73F52 solid;
    color: #FA5858;
}
.t1 {
    width: 100%;
    border-top:hidden;
    display: flex;
    float: none;
    justify-content: flex-end;
}

.t1 input{
    height: 3rem;
    width: 60%;
    box-sizing: border-box;
}
.t1 button{
    height: 3rem;
    width: 5rem;
    padding: 0;

}
.openProfileDiv{
    display: block;
}
.profileDiv{
    width: 50%;
    height: 30%;
    display: none;
}
.profileDiv .uploadProfile{
    height: 100%;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}
.uploadDiv {

}
.uploadDiv input{
    display: none;
}
.show{
    display: block;
    transition: 0.5s;
}


.img-sizing {
    border-radius: 6rem;
    width:12rem;
    height:12rem;
    object-fit: cover;
    overflow: hidden;
}
.profileLabel {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 400;
}
.profileContain{
    display: flex;
    margin: 1rem 0;
}
.fileDrop{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    background-color: #F2F2F2;
    border-radius: 2rem;
    margin-left: 1rem;

}

