.mymain-container {
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
}
.right-container {
    float: left;
    width: 80%;
    height: 80%;
}
.left-container {
    float: left;
    width: 20%;

}

.left-menu li {
    border: 1px #BDBDBD solid;
    border-radius: 5%;
    margin-right: 15%;
    text-align: left;
    padding-left: 5%;
    margin-top: 5%;
    padding-top: 4%;
    padding-bottom: 4%;
    font-weight: bold;

}
.tableList p {
    font-size: 6px;
}

.home-title {
    font-size: 20px;
    font-weight: bold;

    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    border-bottom: 2px #3b4890 solid;

    color: #FA5858;


}
.tableList td {
    padding-bottom: 2px;
    text-align: left;
}
.row:nth-child(2) {
    margin-top: 2%;
}
.info-menu {
    float: left;
    border: 1px #BDBDBD solid;
    border-radius: 10px;
    padding: 3%;
    text-align: center;
    font-weight: bold;
    width: 20%;
    margin: auto 4%;

}
.menu-content {
    float: left;
    width: 80%;
    height: 80%;
}

.menu-title {
    margin-top: 5%;
    padding-bottom: 1%;
    font-size: 17px;
    font-weight: bold;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    border-bottom: 2px #3b4890 solid;
    color: #FA5858;
}
.t1 {
    padding-left: 25%;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    border-bottom: 2px #3b4890 solid;
}
.t1:nth-child(2){
    border-top: hidden;
}

.uploadDiv {
    display: none;
}

.img-sizing {
    display: block;
    width: 5%;
    height: 5%;
}
.uploaded-list {
    display:flex;

}