.mymain-container {
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
}
.right-container {
    float: left;
    width: 80%;
    height: 80%;
}
.left-container {
    float: left;
    width: 20%;

}

.left-menu li {
    border: 1px #BDBDBD solid;
    border-radius: 5%;
    margin-right: 15%;
    text-align: left;
    padding-left: 5%;
    margin-top: 5%;
    padding-top: 4%;
    padding-bottom: 4%;
    font-weight: bold;

}
.tableList p {
    font-size: 6px;
}

.home-title {
    font-size: 20px;
    font-weight: bold;

    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    border-bottom: 2px #F73F52 solid;

    color: #FA5858;


}
.tableList td {
    padding-bottom: 2px;
    text-align: left;
}
.row:nth-child(2) {
    margin-top: 2%;
}
.info-menu {
    float: left;
    border: 1px #BDBDBD solid;
    border-radius: 10px;
    padding: 3%;
    text-align: center;
    font-weight: bold;
    width: 20%;
    margin: auto 4%;

}
.menu-content {
    float: left;
    width: 80%;
    height: 80%;
}

.menu-title {
    margin-top: 5%;
    padding-bottom: 1%;
    font-size: 17px;
    font-weight: bold;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    border-bottom: 2px #F73F52 solid;
    color: #FA5858;
}
.t1 {
    padding-left: 25%;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    border-bottom: 2px #F73F52 solid;
}
.t1:nth-child(2){
    border-top: hidden;
}
.openProfileDiv{
    display: block;
}
.profileDiv{
    width: 50%;
    height: 30%;
    display: none;
}
.profileDiv .uploadProfile{
    height: 100%;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}
.uploadDiv {

}
.uploadDiv input{
    display: none;
}
.show{
    display: block;
    transition: 0.5s;
}


.img-sizing {
    border-radius: 6rem;
    width:12rem;
    height:12rem;
    object-fit: cover;
    overflow: hidden;
}
.profileLabel {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 400;
}
.profileContain{
    display: flex;
    margin: 1rem 0;
}
.fileDrop{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    background-color: #F2F2F2;
    border-radius: 2rem;
    margin-left: 1rem;

}

