/*@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);*/

.tableList {
    font-family: 'Jeju Gothic', sans-serif;
    width: 100%;
    border-bottom: 1px solid #29367c;
    border-collapse: collapse;
}

tbody tr:hover {
    background-color: #F1EFEF;
}

thead tr {
    display: table-row;
    border-style: groove hidden;
    border-color: #81F7D8;
}

thead th {
    font-weight: bold;
}

tbody tr {
    border-color: #E7E6E6;
    border: 1px;
    border-style: groove hidden;
}

tbody td {
    padding: 1%;
}
th{
    text-align: center;
}
td {
    padding: 1%;
    text-align: center;
}

.title {
    text-align: left;
}


