body{
    font-size: 18px;
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);
}
section{
    margin: 150px;
}
table {
    margin-left: auto; margin-right: auto;
}
.board-list th:nth-child(1), th:nth-child(5), th:nth-child(6) {
    width: 5%;
}
.board-list th:nth-child(2), th:nth-child(4) {
    width: 10%;
}
.board-list th:nth-child(3) {
    width: 20%;
}

.board-list {
    width: 80%;
    margin: 100px auto 0;
}
.page {
    margin-top: 30px;
    margin-left: auto; margin-right: auto;
    padding-bottom: 15px;
}


.search {
    position: relative;
    margin-left: 155px;
}
.search .form-select {
    margin-left: 250px;
    position: relative;
    float: left;
}
.search .form-controller {

    position: relative;
    float: left;
    width: 30%;
}
.search .btn {
    position: relative;
    float: left;
}

.btn-write {
    margin: auto 245px;
    float:right;
}