.write-container {
    width: 55%;
    margin: 230px auto 150px;
    font-size: 1.5em;
}

.fileDrop {
    width: 600px;
    height: 200px;
    border: 1px dashed gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.uploaded-list {
    display: flex;
}

.img-sizing {
    display: block;
    width: 100px;
    height: 100px;
}


/*태그 입력 DIV*/
.tagLabel{
    font-size: 1.5rem;
}
.tagDiv{
    width: 100%;
    margin-bottom:3%;
    display: flex;
    flex-wrap: wrap;
}
.tagDiv>input{
    margin-right: 2%;
    width: fit-content;
    font-size: 0.5rem;
    height: 2rem;
    padding: 1%;
    background: tomato;
    opacity: 0.4;
    border: none;
}

