@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

.tableList {
    font: 100% / 1.414'Raleway', sans-serif;
    width: 100%;
    border-bottom: 1px solid #29367c;
    border-collapse: collapse;

}

tbody tr:hover {
    background-color: #F1EFEF;
}

thead tr {
    display: table-row;
    border-style: groove hidden;
    border-color: #81F7D8;
}

thead th {
    font-weight: bold;
}

tbody tr {
    border-color: #E7E6E6;
    border: 1px;
    border-style: groove hidden;
}

tbody td {
    padding: 10px;
    font-size: 15px;
    font-weight: 1;
}
th{
    text-align: center;
}
td {
    padding: 10px;
    text-align: center;
}

.title {
    text-align: left;
}


