button {
    background-color: #04AA6D;
    color: white;
    padding: 1% 2%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}
.comments-list *{
    margin: 0.2%;
    float:right;
}
