@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
body {
    font-family: 'Jeju Gothic', sans-serif;

}
input[type=text], select, textarea {
    width: 100%;
    padding: 1.2%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 0.6%;
    margin-bottom: 1.6%;
    resize: vertical;
}
input[type=button], button {
    background-color: #04AA6D;
    color: white;
    padding: 1.2% 2%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}
.content {
    margin: 5% auto 10%;
    width: 60%;
    height: 40%;
    border-radius: 5px;
    /*background-color: #f2f2f2;*/
}
.comments-list * {
    margin: 2% 0.2%;
    float:right;

}
.content .content-body {
    height: 50%;
}
.area-text {
    height: 100%;
}

.row-content {
    display:flex;
    width: 60%;
    margin: 3% auto 3%;
}
.recommend {
    width: 100%;
}
.card {
    position: relative;
    display: flex;
}
.card-body {
    flex:auto;
    padding: 2%;
    width:100%;
}
.row .write-recommend {
    width: 75%;
    height: 100%;
}
.recommend-text {
    height: 100%;
}