@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
body {
    font-family: 'Jeju Gothic', sans-serif;
}

.write-container {
    width: 85%;
    margin: 0 auto;
    font-size: 1.5em;
}

.fileDrop {
    width: 35%;
    border: 1px dashed gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.uploadDiv {
    display: none;
}

.img-sizing {
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 20%;
    height: 100%;
    overflow: hidden;
}
.uploaded-list {
    display:flex;
    width: 100%;
    height: 150px;
/*   임시 */
}


/*태그 입력 DIV*/
.tagDivStart{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.tagLabel{
    font-size: 1.5rem;
    margin-bottom: 0;
}
.tagDiv{
    width: 100%;
    margin-bottom:3%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.tagDiv .tagDivInput{
    margin-right: 2%;
    font-size: 1.5rem;
    height: 3rem;
    padding: 0.5rem;
    border: none;
    border-radius: 3rem;
    margin-bottom: 1rem;
    /*overflow: hidden;*/
    display: flex;
    align-items: center;
}
.tagInput{
    width: auto;
}

.tagDivInput:hover{
    background:#fd7e14;
    opacity: 0.4;
    transition: all .5s;

}
.tagDivInput>input{
    border: none;
    text-align: center;
    background: none;
    width: 100%;
    height: 100%;
}
.tagDivInput>input:focus{
    outline: none;
}
.tagInput>input:focus::placeholder{
    opacity: 0;
    transition: all .5s;
}
.tagInput>input:hover::placeholder{
    opacity: 0;
    transition: all .5s;
}
.tagList{
    opacity:0.6;
    font-weight: bold;
}

.tagList ::placeholder{
    opacity: 0;
}

.warnTag{
    position: relative;
    border: 1px solid #dc3545 !important;
}
.warnTag::after{
    content: '이미 입력한 태그입니다!';
    position: absolute;
    top: -3rem;
    left: 0;
    width: 16rem;
    height: 100%;
}
