@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);


.tableList {
    font-family: 'Jeju Gothic', sans-serif;
    width: 100%;
    border-collapse: collapse;

}

tbody tr:hover {
    background-color: #F1EFEF;
}

thead tr {
    display: table-row;
    border-bottom: 1px #191e21 solid;
}

thead th {
    font-weight: bold;
}

tbody tr {
    border-color: #E7E6E6;
    border: .1rem;
    border-style: groove hidden;
}

tbody td {

    font-size: 1.6rem;
    font-weight: 1;
}
th{
    text-align: center;
}
td {
    padding: 1rem;
    text-align: center;
}

.title {
    text-align: left;
    color: #962411;
}

.title:hover{
    color: #46209A;
    cursor: pointer;
}

.block img{
    width: 30%;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.user-name{
    color: #7B2020;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 2%;
}


.profile-pic {
    width: 200px;
    max-height: 200px;
    display: inline-block;
}

.file-upload {
    display: block;
}
.circle {
    border-radius: 100% !important;
    overflow: hidden;
    width: 128px;
    height: 128px;
    border: 2px solid rgba(255, 255, 255, 0.2);

    top: 72px;
}
img {
    max-width: 100%;
    height: auto;
}
.p-image {
    position: absolute;
    top: 167px;
    right: 30px;
    color: #666666;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.p-image:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.upload-button {
    font-size: 1.2em;
}

.upload-button:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    color: #999;
}
section{
    overflow: auto;
}