<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.slfinalproject.commurest.admin.repository.AdminMapper">

    <resultMap type="com.slfinalproject.commurest.admin.domain.Admin" id="adminMap">
            <result property="fileName" column="file_name"/>
            <result property="userId" column="user_id"/>
            <collection property="boardList" column="user_id" javaType="java.util.List"
                        ofType="com.slfinalproject.commurest.board.domain.Board" select="com.slfinalproject.commurest.board.domain.Board.selectByUserId"/>
    </resultMap>




    <!-- profile 가져오기 -->
    <select id="getProfile" resultType="string">
        SELECT profile
        FROM user_account
        WHERE user_id = #{userId};

    </select>


    <update id="updateProfile">
        UPDATE user_account SET profile = #{profile} where user_id=#{userId};
    </update>


    <insert id="regist">
        INSERT INTO user_account
            (manager,user_email, user_pass, user_name, user_birth,user_sex)
        VALUES (#{manager},#{user_email}, #{user_pass}, #{user_name}, #{user_birth}, #{user_sex})
    </insert>

    <delete id="delete">
        DELETE FROM user_account
        WHERE user_id=#{user_id}
    </delete>

    <update id="update">
        UPDATE user_account
        SET user_pass = #{user_pass}, user_name=#{user_name}, user_birth=#{user_birth}
        WHERE user_id=#{user_id}
    </update>



    <update id="nameUpdate">
        UPDATE user_account
        SET user_name=#{user_name}
        where user_id=#{user_id}
    </update>
    <select id = "selectOne"  resultType="com.slfinalproject.commurest.admin.domain.Admin">
        SELECT * from user_account where user_email=#{user_email}
    </select>

    <select id = "selectAll"  resultType="com.slfinalproject.commurest.admin.domain.Admin">
        SELECT * from user_account where user_email=#{user_email}
    </select>





    <select id = "selectOne2"  resultType="com.slfinalproject.commurest.admin.domain.Admin">
        SELECT * from user_account where user_id=#{userId}
    </select>






</mapper>