<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.slfinalproject.commurest.admin.repository.AdminMapper">

    <resultMap type="com.slfinalproject.commurest.admin.domain.Admin" id="adminMap">
            <result property="fileName" column="file_name"/>
            <result property="userId" column="user_id"/>
            <collection property="boardList" column="user_id" javaType="java.util.List"
                        ofType="com.slfinalproject.commurest.board.domain.Board" select="com.slfinalproject.commurest.board.domain.Board.selectByUserId"/>
    </resultMap>

    <resultMap type="com.slfinalproject.commurest.admin.domain.Admin" id="adminMap2">
            <result property="fileNo" column="file_no"/>
            <result property="fileName" column="file_name"/>
            <result property="userId" column="user_id"/>

    </resultMap>

    <!-- 프로필 이미지 -->
    <insert id="addFile">
        INSERT INTO profile (file_name, user_id) VALUES (#{fileName}, #{userId})
    </insert>

    <!-- 프로필 이미지 업데이트   -->
    <update id="updateFile">
        UPDATE profile SET file_name=#{fileName} WHERE user_id=#{userId}
    </update>

    <select id="checkProfile" resultType="boolean">
        SELECT IF(COUNT(*) = 1, 1, 0) FROM profile where user_id =#{userId}
    </select>

    <!-- 파일목록 가져오기 -->
    <select id="fileNames" resultType="string">
        SELECT file_name
        FROM profile
        WHERE user_id = #{userId}
    </select>

    <!-- 프로필 이미지 조회 -->
<!--    <select id="findProfile" resultMap="adminMap2">-->
<!--        SELECT A.user_id, B.user_id, B.file_name-->
<!--        FROM user_account A-->
<!--        JOIN profile B ON A.user_id = B.user_id-->
<!--    </select>-->

    <select id="findProfile" resultMap="adminMap2">
        SELECT A.user_id, B.user_id, B.file_name
        FROM user_account A
        JOIN profile B ON A.user_id = B.user_id
        WHERE A.user_id = #{userId}

    </select>


    <insert id="regist">
        INSERT INTO user_account
            (manager,user_email, user_pass, user_name, user_birth,user_sex)
        VALUES (#{manager},#{user_email}, #{user_pass}, #{user_name}, #{user_birth}, #{user_sex})
    </insert>

    <delete id="delete">
        DELETE FROM user_account
        WHERE user_id=#{user_id}
    </delete>

    <update id="update">
        UPDATE user_account
        SET user_pass = #{user_pass}, user_name=#{user_name}, user_birth=#{user_birth}
        WHERE user_id=#{user_id}
    </update>



    <update id="nameUpdate">
        UPDATE user_account
        SET user_name=#{user_name}
        where user_id=#{user_id}
    </update>
    <select id = "selectOne"  resultType="com.slfinalproject.commurest.admin.domain.Admin">
        SELECT * from user_account where user_email=#{user_email}
    </select>

    <select id = "selectAll"  resultType="com.slfinalproject.commurest.admin.domain.Admin">
        SELECT * from user_account where user_email=#{user_email}
    </select>





    <select id = "selectOne2"  resultType="com.slfinalproject.commurest.admin.domain.Admin">
        SELECT * from user_account where user_id=#{userId}
    </select>






</mapper>